* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: #6B808B; */
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #89b9ad;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #55656e;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-text-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.profile-text-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dropdown-menu a:hover {
  background-color: pink;
  color: #fff;
}

.menu-list-item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu-list-item a:hover {
  background-color: pink;
  color: #fff;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: #89b9ad;
  position: fixed;
  top: 0;
}

.container {
  background-color: #6b808b;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.book-list-container {
  position: relative;
  padding: 20px;
}

.book-list-wrapper {
  position: relative;
  overflow: hidden;
}

.book-list {
  transition: transform 1s ease-in-out;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 100px;
}

.book-list-item {
  margin-right: 30px;
  position: relative;
}

.book-list-item:hover .book-list-item-img {
  transform: scale(1.1);
  margin: 0 30px;
  opacity: 0.5;
}

.book-list-item:hover .book-list-item-title,
.book-list-item:hover .book-list-item-button {
  opacity: 1;
}

.book-list-item-img {
  width: 270px;
  height: auto;
  object-fit: cover;
  border-radius: 0 10px 10px 0px;
  transition: 0.5s all ease-in-out;
}

.book-list-title {
  margin-bottom: 20px;
}

.book-list-item-title {
  background-color: #4c5b63;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s all ease-in-out;
}

.book-list-item-button {
  padding: 10px;
  background-color: pink;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s all ease-in-out;
}

.container.active {
  background-color: white;
}

.book-list-title.active {
  color: black;
}

.arrow {
  cursor: pointer;
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}